
.bigBox{

    display: inline-block;
}

.box{
    width: 100%;
    
    margin-right: 0%;
    
}

.secondBox{
    margin-top: 20px;
    width: 100%;
    
    margin-left: 0%;
}
table {
    margin-left: 0%;
  margin-right: 0%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    border-collapse: collapse;
    height: 100%;
    margin-top:0px ;
  }
  
 

 
  
  